<br/><p id="notice"><%= notice %></p>
<h1>Liste des tables</h1><hr/>

<table class="table table-striped table-bordered table-hover" style="max-width: 25%">
  <tr>
      <td>Table des actions</td>
      <td><%= link_to 'Voir', works_path %></td>
  </tr>
  <tr>
      <td>Table des thèmes</td>
      <td><%= link_to 'Voir', topics_path %></td>
  </tr>
  <tr>
      <td>Table des types d'action</td>
      <td><%= link_to 'Voir', categories_path %></td>
  </tr>
</table>
