/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

main { padding: 60px; }

.dropdown-menu .sub-menu {
    left: 100%;
    top: 0;
    margin-top: -30px;
    position: relative;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.rotate270 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-top-color: black !important;
    border-bottom-color: black !important;
}

.with-features:link, .with-features:visited {
    color: green;
    text-decoration: underline;
}

.no-feature:link, .no-feature:visited {
    color: red;
    text-decoration: underline;
}